<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/Myfile.css' %}">
</head>
<body bgcolor="pink">
<div align="center" style="background-image: url('images/ipl image.jpg');">
<h1>WELLCOME TO CRICKET WORLD</h1>
<a href="/tm/">TEAM REGISTRATION</a><br><br>
<a href="/tlist/">TEAMS LIST</a><br><br>
<a href="/player/">PLAYER REGISTRATION</a><br><br>
<a href="/plist/">PLAYERS</a><br><br>
<a href="/pointlist/">TEAM POINTS</a><br><br>
</div>
</body>
</html>


