body
{
background-image:url("https://www.google.com/search?q=ipl+all+teams+mixed+images&sxsrf=ALeKk023zmcZtEwaDaOoeM-s3DYqu-y3Tw:1621305718526&tbm=isch&source=iu&ictx=1&fir=f0FwEFi30feHEM%252CTA0cy2CarH2dIM%252C_&vet=1&usg=AI4_-kSMsb0A67u3vpHeU72uSu-RH4Mrxw&sa=X&ved=2ahUKEwj35LK7mtLwAhXY73MBHfknATQQ9QF6BAgNEAE#imgrc=f0FwEFi30feHEM");
background-repeat:no-repeat;
background-size:cover;
}
